* {
  font-family: "helvetica";
}

body {
  height: 95%;
  width: 75%;
  margin: 0 auto;
}

span {
  font-size: .45em;
  font-weight: 200;
  color: lightslategray;
}


h1, h2, .disclaimer , footer {
  text-align: center;
  /* padding-top: 200px; */
}

a { 
  color: #D93D1C;
}

img {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 25px auto;
}