html, body, div, span, applet, object, iframe,
 blockquote, pre, p,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Beginning of styles============================*/

body {
  margin: 0 auto;
  max-width: 22em;
  font-family: "Exo", arial;
  line-height: 1.5;
  padding: 4em 1em;
  color: #0f0b05;
}

.photo, img {
  margin: 0 auto;
  max-width: 22em;
}
.main-nav-link, .footer-nav-link {
  display: inline-block;
  font-size: 100%;
  margin-bottom: 0px;
  padding: 0px 6px 0px 0px;
}

header > h1 {
  margin-bottom: 0px;
}


h1 {
  line-height: 1.2em;
  font-size: 2.5em;
  padding-bottom: 0;
}
h1, h2, strong {
  font-family: "vollkorn";
  color: #0f0b05;
  margin-bottom: 0;
}
h2 {
  line-height: 1.2em;
}
h2.section-title {
  font-weight: 600; 
  margin-bottom: 3em;
}
h3 {
  margin: 16px auto 6px;
}
span.main-header {
  display: block;
  padding: 0px 0px 0px 1.8em;
  color: red;
  font-size: 1.1em;
}

span.and {
  padding: 0 0 0 8em;
} 
#about, #work {
  padding: 2em;
}
p.about{
  margin: 16px 0 6px 0;
  /*width: 300px;*/
}

.project {
 margin-bottom: 5em;
}
a:link, a:visited {
  /*color: #27432C; pink: fff0f0*/
  color: #0f0b05;
  text-shadow: #B42F29 1px 0; 
  text-decoration: none;
  padding: 2px;
}
a:hover {
  /*border: dotted red 1px;*/
  text-shadow: #B42F29 1px 2px 3px;
}

p.project-description {
  margin: 10px, auto, 2px;
}
.project-information {
  display: flex;
  justify-content: space-around;
}

.project-image {
  display: block;
}

footer {
  clear: both;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding: 10px;
  background-color: #0f0b05;
  width: 100%;
}

li.footer-nav-link > a {
  color: white;
}

@media (min-width: 732px) {

  body {
  max-width: 32em;
  }
  header {
  /*padding-left: 40px;*/
  text-align: center;
  }
  .photo, img {
  max-width: 32em;
  }
  .adjective {
    padding: 0px 0px 0px 1.4em;
  }
  span.main-header {
    padding: 0px 0px 0px 60px;
  }
  span.and {
    padding: 0px 0px 0px 13em;
  }
}

@media (min-width: 1224px) {
  body {
    max-width: 70%;
  }
  .photo{
  max-width: 26em;
  float: right;
  margin-top: 3em;
  margin-left: 1em;
  }
  header {
    text-align: right;
    padding-right: 2em;
    float: right;
  }
  .contact-links {
    display: none;
  }
  p.about {
    clear:left;
    padding-top: 3em;
  }
  #about >h2 {
    display: block;
    margin: auto;
    float: left;
    width: 50%;
  }
  #work {
    clear: both;
  }
.project {
  max-width: 45%;
  margin: 0 auto 5em;
}
  .first-project{
    float: left;
  }
  .second-project {
    float: right;
  }
  .third-project {
    clear: both
   }
  .project-image {
    width: 26em;
  }
  .adjective {
    padding: 0px 0px 0px 0em;
  }
  span.main-header {
    padding: 0px
    /*padding: 0px 0px 0px 60px;*/
  }
  span.and {
    padding: 0px;
    /*padding: 0px 0px 0px 12em;*/
  }

}