.headshot{
  height: 0;
  padding-top: 100%;
  background-image: url("../../static/lewi2020.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 992px) {
  .headshot{
    padding-top: 70%
  }
}