html, body, div, span, applet, object, iframe,
 blockquote, pre, p,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Beginning of styles============================*/
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  max-width: 100%;
  font-family: "Exo", arial;
  line-height: 1.5;
  padding-top: 4em;
  color: #0f0b05;
}

div {
  margin: 0 auto;
  max-width: 22em;
}

.photo, img {
  margin: 0 auto;
  max-width: 22em;
}
.main-nav-link, .footer-nav-link {
  display: inline-block;
  font-size: 120%;
  margin-bottom: 0px;
  padding: 0px 6px 0px 0px;
}
a:link, a:visited {
  color: #0f0b05;
  text-shadow: #B42F29 1px 0; 
  text-decoration: none;
  padding: 2px;
}

a:hover {
  color: #D93D1C;
  font-weight: bold;
}
/* Headers and Section Titles-----*/
header > h1 {
  margin-bottom: 0px;
}

h1 {
  line-height: 1.2em;
  font-size: 2.5em;
  padding-bottom: 0;
}
h1, h2, strong {
  font-family: "vollkorn";
  color: #0f0b05;
  margin-bottom: 0;
}
h2 {
  line-height: 1.2em;
}
h3 {
  font-size: 1.5em;
  margin: 16px auto 6px;
}
.section-title {
  font-weight: 600; 
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 1em;
}
/* About Me section ------*/

#about {
  padding-top: 2em;
}

span.adjective {
  font-size: 1.1em;
}

span.main-header {
  display: block;
  padding: 0px 0px 0px 1em;
  color: red;
  font-size: 1.1em;
  padding: 0px
}

span.and {
  display: none;
  padding: 0px;
  font-size: 0.9em;
}
#about p {
  margin: 16px 0 6px 0;
}

p a:link {
  text-shadow: none;
  text-decoration: none;
}

/* Projects and projects section*/
.project {
 margin-bottom: 5em;
}

p.project-description {
  margin: 10px, auto, 2px;
}
.project-information {
  justify-content: space-around;
}

.project-image {
  display: block;
  border-radius: 7px;
  box-shadow:inset 0 0 1em gold, 0 0 1em #CC5632;
  /*box-shadow:  1px 2px 3px #0f0b05;*/
  height: 200px;
  width: 300px;
}
.project-image:hover {
  opacity: 0.9;
}
.project-stack {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
}
.project-stack-item {
  padding: 0 .5em;
}
.project-links ul {
  display: block;
  display: flex;
  justify-content: space-around;
}
button {
  padding: 3px;
  margin-top: 0.8em;
  font-size: 1.2em;
  border-radius: 7px;
  background-color: #e7e7e7;
}
button:hover {
  padding: 3px;
}


footer {
  clear: both;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 1em;
  padding-top: 2em;
  padding-bottom: 3.5em;
  background-color: #0f0b05;
  width: 100%;
}

li.footer-nav-link a {
  color: white;
}
.third-project {
  margin-bottom: 2em;
}

@media (min-width: 732px) {

  div {
  max-width: 32em;
  }
  header {
  text-align: center;
  }
  .photo, img {
  max-width: 32em;
  margin-top: 1em;
  }

  #about h2 {
    padding: 0px 0px 0px 0px;
  }
  span.main-header {
    font-size: 1.3em;
  }
}
@media (max-width: 361px) {
  span.adjective {
    font-size: 1em;
  }
  span.main-header {
    padding: 0px 0px 0px 0px;
    font-size: 1em;
  }
  span.and {
    padding: 0px 0px 0px 0em;
  }
}

@media (min-width: 1224px) {
  .section-title{
    display: none;
  }
  div {
    max-width: 70%;
  }
  .photo{
    clear: both;
  max-width: 26em;
  float: right;
  margin: 4em 0 6em 2em;
  }
  header {
    text-align: left;
    float: left;
  }
  .contact-links {
    display: none;
  }
  p.about {
    clear:left;
    padding-top: 3em;
  }
  h1 {
    font-size: 3em;
  }
  #about >h2 {
    display: block;
    margin: auto;
    float: right;
    text-align: right;
    width: 50%;
  }
  #work {
    clear: both;
    display:flex;
  }
  .project {
    max-width: 30%;
    margin: 0 auto 5em;
  }
  
  .project-image {
    max-width: 14em;
  }
  about h2 {
    padding: 0;
  }
  span.adjective {
    font-size: 1.3em;
    line-height: 1.2em;
  }
  span.main-header {
    padding: 0px;
    font-size: 1.52em;
    margin-top: .25em;
  }

  span.and {
    display: none;
    padding: 0px;
    font-size: 0.9em;
  }

}
@media (min-width: 1281px) {
  span.main-header {
    font-size: 1.6em;
  }
}